@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

:root {
  --background-color: #f7f7f7 --text-color: #333333 --ice-blue-juvie: #8fbcd4;
  --gothic-gray-blue: #6f8796;
  --dark-slate-infinity: #1f2a33;
  --gray-border: #cccccc;
  --table-emphasis-background: #e9e8e8;
  --table-background: #f4f4f4;
  --form-white: #fefefe;
  --midnight-blue: #161678;
  --midnight-blue-dark: #0b0b4f;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Navigation styles  */
.nav {
  background-color: var(--dark-slate-infinity);
}

.nav-list {
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
}

.nav-link {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  color: var(--ice-blue-juvie);
  transition:
    background 0.5s,
    color 0.5s;
}

.nav-link:hover {
  background-color: var(--ice-blue-juvie);
  color: var(--dark-slate-infinity);
}

/* Main area */
.books-container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 1rem;
}

.main-heading {
  margin: 2rem;
  text-align: center;
  color: var(--gothic-gray-blue);
}

.font-cinzel {
  font-family: "Cinzel";
}

/* Section styles */
.section {
  margin-top: 2rem;
}

.h2 {
  border-bottom: 1px solid var(--gray-border);
}

/* Book lists styles */
.books-list li {
  margin-bottom: 0.5rem;
}

.books-list li > ol {
  margin-top: 0.4rem;
}

/* Images Styles */
.images-container {
  text-align: center;
}

.book-image {
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.book-image:hover {
  transform: scale(1.1);
}

/* Table styles */
.table {
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid var(--gray-border);
  padding: 0.5rem;
  text-align: center;
}

.table-heading {
  background-color: var(--table-emphasis-background);
}

.table tr:nth-child(even) {
  background-color: var(--table-background);
}

.table-footer td {
  font-weight: bold;
  background-color: var(--table-emphasis-background);
}

/* Form - IRA ROTH Calculator */

.form-container {
  max-width: 420px;
  margin: 100px auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--form-white);
}

.color-bg-blue {
  background-color: var(--midnight-blue-dark);
}

.main-heading-form {
  text-align: center;
  color: var(--midnight-blue);
}

.form-element {
  margin-bottom: 0.5rem;
}

.form-label {
  display: inline-block;
  width: 48%;
}

.form-input {
  display: inline-block;
  width: 45%;
  border: 1px solid var(--gray-border);
  border-radius: 6px;
  padding: 0.5rem;
}

.btn {
  display: inline-block;
  width: 49%;
  padding: 0.65rem 1rem;
  border-radius: 6px;
}

.form-element:last-of-type {
  margin: 2rem 0;
}

.btn-submit {
  background-color: var(--midnight-blue);
  color: var(--form-white);
}

.btn-submit:hover {
  background-color: var(--midnight-blue-dark);
}

.form-note {
  font-size: 0.8rem;
}

.form-note a {
  color: var(--midnight-blue);
}

.form-radios {
  margin-left: 40px;
  margin-bottom: 0.75rem;
}
